.search-content-box {
  min-height: 70vh;
  text-align: center;
  padding: 60px 60px;
}

.form-wrapper-job-search {
  display: flex;
  justify-content: center;
}

.job-search-box {
  padding: 50px 0px;
}

.search-job-input-item {
  margin-right: 20px;
  margin-bottom: 0px;
}

/* .search-job-input-field {
  padding:px 10px;
} */

.more-tag-line {
  padding: 30px 0px 50px 0px;
}

.footer-wrapper p,
.footer-wrapper h5 {
  padding: 10px 0px;
}

.index-view-job {
  width: 40%;
  margin: auto;
  border: 1px solid #eee;
  border-radius: 5px;
}

.index-view-job-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding: 10px;
}

.index-view-job-content {
  padding: 10px;
}

.index-view-job-header span {
  display: block;
}

.index-view-job-header span:last-of-type {
  padding-bottom: 20px;
}

.index-view-job-content span {
  display: block;
}

.top-login {
  position: absolute;
  top: 100;
  right: 10px;
  border: 1px solid #eee;
  padding: 30px 20px;
  background-color: #eee;
}

.top-login-hide {
  display: none;
}

.top-login-item {
  display: block;
  text-align: right;
}

.top-login-item label {
  margin-right: 10px;
}
