.user-signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.user-signup-box {
  width: 37%;
  border: 1px solid #eee;
  padding: 20px 60px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
